# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.env
piper_voices
# Unitree repos
unitree_ros2/
unitree_sdk2/
unitree_sdk2_python/
lidar
mocap_data
unitree_mujoco/
# ROS2 builds
build/
install/
log/

# Audio
*.wav

# IDE
.vscode/
.idea/
*.swpunitree_mujoco/
RoboJuDo
g1_spinkick_example
